@import "scss/reset";
@import "scss/clearfix";

///// FONTS /////
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';

///// VARIABLES /////
$cyan: #223367;
$cerulean: #0476A8;
$light-blue: #BCE0F1;
$teal: #02A3A5;
$green: #037074;
$black: #000000;
$white: #FFFFFF;


// FOR TEST PURPOSES || DELETE THIS LATER
@import 'https://fonts.googleapis.com/css?family=Homemade+Apple';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700';
body { font-family: 'Open Sans', sans-serif;}

////////////////////////////////////////////
////////// ELEMENTS FOR ALL PAGES //////////
////////////////////////////////////////////
*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ background-color: lighten($light-blue, 15%); }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, h2, h3 { margin: 5px 0 15px; color: $teal; }
h4, h5, h6 { margin: 5px 0; color: $cerulean; }
h1 { font-size: 2em; }
h2 { font-size: 1.75em }
h3 { font-size: 1.5em }
h4 { font-size: 1.25em }
h5, h6 { font-size: 1em }
p { margin: 0.5em 0; color: lighten($black, 33%); }
a { color: $green; text-decoration: none }

// Container for all HTML Elements //
.container {
  width: 100%;
  min-width: 1100px;
}
// Navigation Menu Bar //
.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  background-color: transparentize($white, 0.1);
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
}
.nav-left{
  flex: 0 0 50%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  h5 {
    flex: 0 0 100%;
    margin: 0;
    padding: 0 25px;
    text-transform: uppercase;
    color: lighten($black, 50%);
  }
}
.nav-right {
  flex: 0 0 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    padding: 5px;
    flex: 0 0 15%;
    text-align: center;
    color: lighten($black, 50%);
    &:hover{
      color: $green;
    }
  }
}
// Container for Main Content //
.main-content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
}
// Footer //
.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  font-size: 0.8em;
  color: lighten($black, 50%);
}

////////////////////////////////////////////
//////////////// HOME  PAGE ////////////////
////////////////////////////////////////////
.cover {
  width: 100%;
  height: 500px;
  background-image: url("/images/pineapple-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  .welcome {
    flex: 0 0 50%;
    h1 {
      font-family: 'Fredericka the Great', cursive;
      font-size: 5em;
      color: $teal;
      font-weight: 400;
      line-height: 1.1;
      margin: 0;
    }
  }
}
.featured-businesses{
  h2 {
    margin: 5px 0 15px;
    color: $cyan;
  }
  .businesses-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .single-business-container {
      flex: 0 0 0;
    }
    a{
      display: block;
      width: 100px;
      height: 30px;
      margin-top: 5px;
      border-radius: 3px;
      background-color: $cerulean;
      &:hover{
        background: darken($cerulean, 5%);
      }
      &:active, &:focus{
        background: darken($cerulean, 15%);
      }
      p{
        font-size: 0.9em;
        line-height: 28px;
        text-align: center;
        color: $white;
      }
    }
  }
}
.single-business-image img{
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.single-business-info{
  height: 100px;
  h4{
    color: $cerulean;
  }
  p{
    font-size: 0.9em;
    font-style: italic;
  }
}

////////////////////////////////////////////
//////////////// SEARCH BAR ////////////////
////////////////////////////////////////////
.home-search-container {
  width: 450px;
}
.search-container {
  width:100%;
  background-color: $white;
  border-bottom: 10px solid $teal;
  padding: 100px 0 50px;
}
.center-search-position{
  margin: 0 auto;
}
.search-bar {
  width: 450px;
  padding: 15px 0 5px;
  input {
    width: 75%;
    height: 40px;
    padding-left: 10px;
    float: left;
    font: bold 15px 'Open Sans', sans-serif;
    // border: 0;
    border: 1px solid $teal;
    background: $white;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
      background: $white;
      border: 0;
      -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
  }
  button {
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 25%;
    font: bold 15px/40px 'Open Sans', sans-serif;
    color: $white;
    text-transform: uppercase;
    background: $teal;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    &:hover{
      background: darken($teal, 5%);
    }
    &:active, &:focus{
      background: darken($teal, 15%);
    }
  }
}
.advanced-search {
  padding-left: 10px;
  color: $green;
  font-size: 0.8em;
  font-weight: bold;
}
.center-text{
  padding-left: 0;
  text-align: center;
}


////////////////////////////////////////////
/////////////// VENDOR  PAGE ///////////////
////////////////////////////////////////////
.business-contact{
  padding: 25px 25px 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .bus-left{
    flex: 0 0 48%;
  }
  .bus-right{
    flex: 0 0 48%;
  }
}

.business-info{
  padding: 5px 25px;
}

.business-products{
  padding: 5px 25px;
}

////////////////////////////////////////////
/////////////// PRODUCT PAGE ///////////////
////////////////////////////////////////////
.main-product{
  padding: 15px 25px 5px;
}

////////////////////////////////////////////
////////////// SEARCH RESULTS //////////////
////////////////////////////////////////////
.results-header{
  padding: 15px 25px 5px;
}

.results{
  padding: 15px 25px 5px;
}

////////////////////////////////////////////
/////////////////// 404  ///////////////////
////////////////////////////////////////////
.error-container{
  padding: 15px 25px 5px;
  .error{
    text-align: center;
    h1{ font-size: 10em; }
    h2{ font-size: 5em; }
    a { font-weight: bold; }
  }
}

// div {border: 1px red dotted;} //delete this later!!!