@import "scss/reset";
@import "scss/clearfix";

///// FONTS /////
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Fredericka+the+Great';

///// VARIABLES /////
$cyan: #223367;
$cerulean: #0476A8;
$light-blue: #BCE0F1;
$teal: #02A3A5;
$green: #037074;
$black: #000000;
$white: #FFFFFF;

////////////////////////////////////////////
////////// ELEMENTS FOR ALL PAGES //////////
////////////////////////////////////////////
*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ background-color: lighten($light-blue, 15%); font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1, h2, h3 { margin: 5px 0 15px; color: $teal; }
h4, h5, h6 { margin: 5px 0; color: $cerulean; }
h1 { font-size: 2em }
h2 { font-size: 1.75em }
h3 { font-size: 1.5em }
h4 { font-size: 1.25em }
h5, h6 { font-size: 1em }
p { margin: 0.5em 0; color: lighten($black, 33%); }
a { color: $green; text-decoration: none }
strong { font-weight: bold; }
label { display: block; }
img {border-radius: 10px;}

// Container for all HTML Elements //
.container {
  width: 100%;
  min-width: 1150px;
}
// Navigation Menu Bar //
.nav-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  background-color: transparentize($white, 0.1);
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
}
.nav-left{
  flex: 0 0 50%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  h5 {
    flex: 0 0 100%;
    margin: 0;
    padding: 0 25px;
    text-transform: uppercase;
    a{
      color: lighten($black, 50%);
      &:hover{
        color: $green;
      }
    }
  }
}
.nav-right {
  flex: 0 0 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    padding: 5px;
    flex: 0 0 15%;
    text-align: center;
    color: lighten($black, 50%);
    &:hover{
      color: $green;
    }
  }
}
// Container for Main Content //
.main-content{
  width: 1150px;
  margin: 0 auto;
  padding: 25px;
}
// Footer //
footer{
  background-color: $teal;
  height: 200px;
  .footer-content {
    max-width: 1150px;
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 0.8em;
    p{
      color: $white;
    }
    .admin-login{
      margin-top: 20px;
      a{
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .state-logo{
      background-image: url("/images/state-logo.png");
      background-position: top right;
      background-repeat: no-repeat;
      height: 114px;
    }
  }
  .copyright{
    text-align: center;
    font-weight: bold;
    p{
      color: $white;
      font-size: 0.8em;
    }
  }
}

////////////////////////////////////////////
//////////////// HOME  PAGE ////////////////
////////////////////////////////////////////
.cover {
  width: 100%;
  height: 500px;
  background-image: url("/images/pineapple-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  .welcome {
    flex: 0 0 50%;
    h1 {
      font-family: 'Fredericka the Great', cursive;
      font-size: 5em;
      color: $teal;
      font-weight: 400;
      line-height: 1.1;
      margin: 0;
    }
  }
}
.featured-businesses{
  h2 {
    margin: 5px 0 15px;
    color: $cyan;
  }
}

.single-business-image img{
  width: 250px;
  height: 250px;
}
.single-business-info{
  height: 100px;
  h4 a{
    color: $cerulean;
  }
  p{
    font-size: 0.9em;
    font-style: italic;
  }
}
.single-business-link{
  a{
    display: block;
    margin-top: 5px;
    width: 100px;
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
    font-size: 0.9em;
    text-align: center;
    color: $white;
    background-color: $cerulean;
    &:hover{
      background: darken($cerulean, 5%);
    }
    &:active, &:focus{
      background: darken($cerulean, 15%);
    }
  }
}

////////////////////////////////////////////
//////////////// SEARCH BAR ////////////////
////////////////////////////////////////////
.home-search-container {
  width: 450px;
}
.search-container {
  width:100%;
  background-color: $white;
  background-image: url('/images/clouds-field.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-bottom: 10px solid $teal;
  padding: 100px 0 50px;
}
.center-search-position{
  margin: 0 auto;
}
.search-bar {
  width: 450px;
  padding: 15px 0 5px;
  input {
    width: 75%;
    height: 40px;
    padding-left: 10px;
    float: left;
    font: bold 15px 'Open Sans', sans-serif;
    border: 1px solid $teal;
    background: $white;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
      background: $white;
      border: 1px solid $teal;
    }
  }
  button {
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 25%;
    font: bold 15px/40px 'Open Sans', sans-serif;
    color: $white;
    text-transform: uppercase;
    background: $teal;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    &:hover{
      background: darken($teal, 5%);
    }
    &:active, &:focus{
      background: darken($teal, 15%);
    }
  }
}
.advanced-search {
  padding-left: 10px;
  color: $green;
  font-size: 0.8em;
  font-weight: bold;
}
.center-text{
  padding-left: 0;
  text-align: center;
}


////////////////////////////////////////////
/////////////// VENDOR  PAGE ///////////////
////////////////////////////////////////////
.business-main-image{
  width: 525px;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
}
.business-info{
  margin-top: 25px;
}

.business-products{
  margin-top: 25px;
  .single-product{
    height: 250px;
    .single-product-image img{
      width: 250px;
      height: 200px;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

////////////////////////////////////////////
/////////////// PRODUCT PAGE ///////////////
////////////////////////////////////////////
.product-main-image{
  width: 525px;
  height: 350px;
  object-fit: cover;
  object-position: 50% 50%;
}
hr{
  margin-top: 1em;
  margin-bottom: 1em;
}
////////////////////////////////////////////
////////////// SEARCH RESULTS //////////////
////////////////////////////////////////////
.results{
  margin-top: 25px;
  .result-description{
    font-style: italic;
  }
  p{font-size:0.9em}
}
.result-listing{
  margin: 20px 0;
  img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

////////////////////////////////////////////
/////////////////// 404  ///////////////////
////////////////////////////////////////////
.error-container{
  padding: 15px 25px 5px;
  .error{
    text-align: center;
    h1{ font-size: 10em; }
    h2{ font-size: 5em; }
    a { font-weight: bold; }
  }
}

////////////////////////////////////////////
////////////////// ABOUT  //////////////////
////////////////////////////////////////////
.about-container{
  margin-top: 25px;
  img{
    width: 1100px;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  p{font-size:0.9em}
}

////////////////////////////////////////////
////////////////// LOGIN  //////////////////
////////////////////////////////////////////
.login-container{
  margin: 50px auto;
  padding: 20px;
  width: 500px;
  border-radius: 5px;
  text-align: center;
  background-color: $white;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  .vendorLogo img {
    margin-bottom: 20px;
  }
  .adminLogo img {
    margin-bottom: 20px;
    width: 71px;
  }
  .login-content{
    text-transform: uppercase;
    input {
      width: 350px;
      height: 40px;
      margin: 10px 0;
      padding-left: 10px;
      font: bold 15px 'Open Sans', sans-serif;
      border: 2px solid lighten($black, 75%);
      background: $white;
      border-radius: 3px;
      &:focus {
        outline: 0;
        border: 2px solid $teal;
      }
    }
    input[type="submit"] {
      width: 150px;
      height: 40px;
      padding-left: 0px;
      border: 0;
      font: bold 15px/40px 'Open Sans', sans-serif;
      color: $white;
      text-transform: uppercase;
      background: $teal;
      &:hover{
        cursor: pointer;
        background: darken($teal, 5%);
        transition: 0.5s;
      }
      &:active, &:focus{
        background: darken($teal, 15%);
      }
    }
  }
}

////////////////////////////////////////////
///////////// FLEXBOX  SPACING /////////////
////////////////////////////////////////////
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .col-quarter{
    flex: 0 0 250px;
  }
  .col-half{
    flex: 0 0 525px;
  }
  .col-third{
    flex: 0 0 200px;
  }
  .col-two-thirds{
    flex: 0 0 850px;
  }
}
.flex-container-4col{
  display: flex;
  flex-flow: row wrap;
  .col-quarter{
    flex: 0 0 250px;
    margin: 0 33px 0px 0;
    &:nth-child(4n){
      margin: 0 0 0 0;
    }
  }
}

// div {border: 1px red dotted;} //delete this later!!!

////////////////////////////////////////////
/////////////  Product Form    /////////////
////////////////////////////////////////////
.form-container{
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  text-align: center;
  background-color: $white;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  input {
    width: 450px;
    height: 40px;
    margin: 10px 0;
    padding-left: 10px;
    font: bold 15px 'Open Sans', sans-serif;
    border: 2px solid lighten($black, 75%);
    background: $white;
    border-radius: 3px;
    &:focus {
      outline: 0;
      border: 2px solid $teal;
    }
  }
  input[type="submit"] {
    width: 150px;
    height: 40px;
    padding-left: 0px;
    border: 0;
    font: bold 15px/40px 'Open Sans', sans-serif;
    color: $white;
    text-transform: uppercase;
    background: $teal;
    &:hover{
      cursor: pointer;
      background: darken($teal, 5%);
      transition: 0.5s;
    }
    &:active, &:focus{
      background: darken($teal, 15%);
    }
  }
  select{
    width: 450px;
    height: 40px;
    margin: 10px 0;
    background: white;
    line-height: 40px;
    font: bold 15px/40px 'Open Sans', sans-serif;
  }
}

////////////////////////////////////////////
/////////////  Vendor  Form    /////////////
////////////////////////////////////////////
.vendor-content{
  margin: 50px auto;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  background-color: $white;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.5);
  h1{
    text-align: center;
  }
  span{
    display: block;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    color: $teal;
  }
  input {
    width: 560px;
    height: 40px;
    margin: 5px 0 10px;
    padding-left: 10px;
    font: bold 15px 'Open Sans', sans-serif;
    border: 2px solid lighten($black, 75%);
    background: $white;
    border-radius: 3px;
    &:focus {
      outline: 0;
      border: 2px solid $teal;
    }
  }
  .checkboxes{
    span {
      margin: 5px 0;
    }
    label{
      display: inline-block;
      width: 280px;
    }
    input[type="checkbox"]{
      width: 15px;
      height: 15px;
      margin-right: 20px;
    }
  }
  input[type="submit"] {
    width: 150px;
    height: 40px;
    padding-left: 0px;
    border: 0;
    font: bold 15px/40px 'Open Sans', sans-serif;
    color: $white;
    text-transform: uppercase;
    background: $teal;
    &:hover{
      cursor: pointer;
      background: darken($teal, 5%);
      transition: 0.5s;
    }
    &:active, &:focus{
      background: darken($teal, 15%);
    }
  }
  select{
    width: 560px;
    height: 40px;
    margin: 5px 0 10px;
    background: white;
    line-height: 40px;
    font: bold 15px/40px 'Open Sans', sans-serif;
  }
  .other{
    display: none;
  }
}

@media print {
  .nav-menu, .search-container, footer{
    display: none;
  }
}