footer
  div(class="footer-content flex-container")
    div.col-half
      p <strong>Hawaii Department of Agriculture</strong>
      p 1428 South King Street
      p Honolulu, HI 96814
      p (808) 973-9560
      p.copyright &copy; 2016 Made In Hawaii || Local Mocos
    div(class="col-half state-logo")