doctype html
html(lang="en")
  include ../includes/head.pug
  body
    div.container
      include ../includes/nav.pug
      include ../includes/search.pug
      div.main-content
        div.login-container
          block loginLogo
          .login-content
             form(name="login" method="POST" action="/login" enctype="x-www-form-urlencoded")
                input(type="text" name="username" placeholder="Username" required)
                input(type="text" name="password" placeholder="Password" required)
                input(type="submit" class="submit" name="submit" value="Log In")
      include ../includes/footer.pug