doctype html
html(lang="en")
include includes/head.pug
body
  include includes/nav.pug
  .about-content
    .about-wrapper
      .welcome
        h2 Thank you for buying local.
      .about-para-one
        .image-one
          img(src="/images/about/turtlebay.jpeg" style={width: "300px"})
        .about-one
          p Lorem ipsum dolor sit amet, pri an mucius prompta iudicabit, et duis forensibus eum, solum libris constituto ut qui. Cu ius legimus civibus electram, cum in nonumy cotidieque reformidans, et oporteat moderatius quaerendum eum. Ne vix postea nominavi atomorum, eos affert congue scripta no. No sit blandit lobortis scribentur. Doctus percipitur id vix. Aeque everti atomorum in qui.
      .about-para-two
        .image-two
          img(src="/images/about/mo'o.jpg" style={width: "300px"})
        .about-two
          p Mea eius tantas euripidis eu, vel te invenire repudiare voluptaria, alienum luptatum ex vix. An ignota hendrerit vim. At rebum liber honestatis sed. Prima eripuit periculis eos te, cum ex aperiam recusabo. No eos eirmod postulant instructior, alterum placerat has et. Accusata dissentiet mel et, ut quo wisi meliore insolens. Quis ubique accumsan ei eos.
include includes/footer.pug