doctype html
html(lang="en")
  include includes/head.pug
  body
    include layouts/loginNav.pug
    .adminContent
      .content
        .sideBar
          .headerPending
            h2 Pending Approvals
            .pendingVendors
              h3 Vendors #{pendingVendors}
            .pendingProducts
              h3 Products #{pendingProducts}
      .dashboardView
        .view
          h2 New Approvals
          .newApprovals
            .newVendors
    include includes/footer.pug
