doctype html
html(lang="en")
include includes/head.pug
body
  include includes/nav.pug
  include includes/login.pug
    block loginLogo
      a(src="images/logos/Seal_of_the_State_of_Hawaii.png")
  include includes/footer.pug