extends productForm.pug

block productName
  input(type="text" name="productName")
block description
  input(type="text" name="description")
block price
  input(type="text" name="price")
block qty
  input(type="text" name="qty")