doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      div.cover
        div.welcome
          h1 Buy Local, <br>Support Hawai'i
          div.home-search-container
            form(class="search-bar clearfix", action="/search", method="post", enctype="application/x-www-form-urlencoded")
              input(type="text", placeholder="Find Local Business, Products, Etc..", required)
              button(type="submit") Search
            p(class="advanced-search")
              a(href='#') Advanced Search
      include includes/nav.pug
      div.main-content
        div.featured-businesses
          h2 Featured Local Businesses
          div.business-container
            div.single-business-container
              div.single-business-image
                img(src="/images/Adaptations-Oceanfire.jpg")
              div.single-business-info
                h4 Adaptations/Oceanfire
                p Something about this business...blah blah blah
              a(href="#")
                p Learn more here
            div.business
              img(src="/images/Bergers-Kamaaina-Farm.jpg")
            div.business
              img(src="/images/Big-Island-Abalone.jpg")
            div.business
              img(src="/images/Bromeliads-Hawaii.jpg")
      include includes/footer.pug
