doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      div.cover
        div.welcome
          h1 Buy Local, <br>Support Hawai'i
          div.home-search-container
            form(class="search-bar clearfix", action="/search", method="post", enctype="application/x-www-form-urlencoded")
              input(type="text", placeholder="Find Local Business, Products, Etc..", required)
              button(type="submit") Search
            p
              a(href='#') Advanced Search
      include includes/nav.pug
      div.main-content
        div.featured-businesses
          h2 Featured Local Businesses
          div.business-container
            div.business
              img(src="https://placehold.it/250x250")
            div.business
              img(src="https://placehold.it/250x250")
            div.business
              img(src="https://placehold.it/250x250")
            div.business
              img(src="https://placehold.it/250x250")
      include includes/footer.pug
