doctype html
html(lang="en")
  include includes/head.pug
  include includes/nav.pug
  include includes/search.pug
  .msg-container
    .msg-content
      .msg-header
        h2 Thank you for filling out your information!
      .msg-para
        p We will look over your information and get back to you as soon as possible. In the meantime you can check the 
          a(href='/') home page.
      .msg-info
        p For more information please contact the State of Hawaii Department of Agriculture.
        p 808.973.9560
  include includes/footer.pug