doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      include includes/nav.pug
      include includes/search.pug
      div.main-content
        div.main-product
          h2 Here are some products
        div.business-products
          h3 Other Products From The Same Vendor
      include includes/footer.pug