doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      include includes/nav.pug
      div.main-content
        include includes/search.pug
        div.product
          h1 Here are some products
      include includes/footer.pug