doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      include includes/nav.pug
      include includes/search.pug
      div.main-content
        div.results-header
          h1 Search Results for [INSERT HERE]
        div.results
          h2 Product Results
          div.result-listing
            div.result-image
              img(src="https://placehold.it/150x150")
            div.result-details
              p.result-title Rainbow Papaya
              p Taste the rainbow!
              p Phone 808-555-5555
              p E-Mail: aloha@aloha.com
              p Address: 123 Aloha Street, Honolulu, HI 96813
          div.result-listing
            div.result-image
              img(src="https://placehold.it/150x150")
            div.result-details
              p.result-title Rainbow Papaya
              p Taste the rainbow!
              p Phone 808-555-5555
              p E-Mail: aloha@aloha.com
              p Address: 123 Aloha Street, Honolulu, HI 96813
          div.result-listing
            div.result-image
              img(src="https://placehold.it/150x150")
            div.result-details
              p.result-title Rainbow Papaya
              p Taste the rainbow!
              p Phone 808-555-5555
              p E-Mail: aloha@aloha.com
              p Address: 123 Aloha Street, Honolulu, HI 96813
        //- div.results
        //-   h2 Vendor Results
        //-   div.result-listing
        //-     div.result-image
        //-       img(src="https://placehold.it/150x150")
        //-     div.result-details
        //-       p.result-title Rainbow Papaya
        //-       p Taste the rainbow!
        //-       p Phone 808-555-5555
        //-       p E-Mail: aloha@aloha.com
        //-       p Address: 123 Aloha Street, Honolulu, HI 96813
        //-   div.result-listing
        //-     div.result-image
        //-       img(src="https://placehold.it/150x150")
        //-     div.result-details
        //-       p.result-title Rainbow Papaya
        //-       p Taste the rainbow!
        //-       p Phone 808-555-5555
        //-       p E-Mail: aloha@aloha.com
        //-       p Address: 123 Aloha Street, Honolulu, HI 96813
      include includes/footer.pug