doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      include includes/nav.pug
      include includes/search.pug
      div.main-content
        div.vendor-content
          mixin selectWithOther(fieldname, options)
            select(name=fieldname)
              each option in options
                option(value=option.id)= option[fieldname]
              option(value="other") Other
            input.other(style="visibility:hidden", type="text", name=fieldname, disabled)
          block form
            form(action="/vendor" method="POST" enctype="x-www-form-urlencoded")
            include includes/vendorFields.pug
      include includes/onChange.pug
      include includes/footer.pug