doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      include includes/nav.pug
      div.main-content
        include includes/search.pug
        div.business-info
          h2 BUSINESS NAME
        div.business-products
          h3 Other Products
        include includes/footer.pug