doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Made in Hawaii
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
  body
    .page-wrap
      .contain
        .newForm